{% extends "layout.html" %}
{% block title %}Coaches{% endblock %}
{% block content %}
<form  action ={{url_for('coaches')}} method="post">
  Name:<br>
  <input type="text" name="coachName"><br><br>
  BirthYear:<br>
  <input type="text" name="coachBirthday"><br><br>
  <input type="submit" value="Add" name="Add">
</form>
<br>
<table>
<td>Name &nbsp&nbsp</td> <td>BirthYear</td>
{% for key, name, birthday in result %}
<tr>
<td width="40%"> {{ name}}</td width="40%"><td>{{ birthday }}</td><td width="40%"><form action="{{ url_for('coaches') }}" method="post" role="form">
<input value="{{key}}" name="id" type="hidden" /><input value="Delete" name="Delete" type="submit" />
</form></td>

</tr>
{% endfor %}
</table>

{% endblock %}