{% extends "layout.html" %}
{% block title %}Coaches{% endblock %}
{% block content %}
<form  action ={{url_for('coaches')}} method="post">
  <b>Name:</b><br>
  <input type="text" name="coachName"><br><br>
  <b>BirthYear:</b><br>
  <input type="text" name="coachBirthday"><br><br>
  <input type="submit" value="Add" name="Add">
</form>
<br>
<table>
<td><b>Name &nbsp&nbsp</b></td> <td><b>BirthYear</b></td>
{% for key, name, birthday in result %}
<tr>
<td style="width:70px;"> {{ name}}</td width="40%"><td>{{ birthday }}</td>
<td style="width:70px;"><form action="{{ url_for('coaches') }}" method="post" role="form">
<input value="{{key}}" name="id" type="hidden" /><input value="Delete" name="Delete" type="submit" />
</td>
<td>
<input value="{{key}}" name="id" type="hidden" /><input value="Update" name="Update" type="submit" />
<input style="width:100px;"  type="text" value=" name value" name="coachNUpdate">
<input style="width:110px;" type="text" value=" birthday value" name="coachBUpdate">
</form></td>

</tr>
{% endfor %}
</table>

{% endblock %}