 {% extends "layout.html" %}
 {% block title %}Edit Country{% endblock %}
 {% block content %}
	 <form action="{{ url_for('countries') }}" method="post" role="form">
		 <div class="form-group">
		 	<div class="row">
			  	<label class="control-label col-sm-2" for="name">Name:</label>
			  	<div class="col-sm-10">
					<input type="text" name="name" required autofocus />
				</div>
			</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			<div class="row">
				<label class="control-label col-sm-2" for="abbreviation">Abbreviation:</label>
			  	<div class="col-sm-10">
					<input type="text" name="abbreviation" /><br><br>
				</div>
			</div>
			 <input value="Save" name="save" type="submit" /><br><br>

		 </div> <!-- End of form-group -->
	  </form>
 {% endblock %}
