<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

 	<form action="teams">
    <input type="submit" value="Teams">
</form>


    <h1>Merhaba, eren!!</h1>
    <h1>Hello, Flask!</h1>
    <h1>Hello from alparslan!</h1>
    <h1>Hello! -Seda</h1>
    <h1>Guten tag, ilay! </h1>
	<h1>Merhaba, Kubilay!</h1>
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
