<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Neccessary Bootsrap files -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>itucsdb1507 - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AMERICAN</a>
				</div>

					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('teams') }}">Link</a></li>
						<li><a href="{{ url_for('coaches') }}">Coaches</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button">Players<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Add Player</a></li>
								<li><a href="#">Show Players</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" >Countries<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('countries_page') }}">List Countries</a></li>
								<li><a href="#">Show Players</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<footer> </footer>
</body>
</html>
