 {% extends "layout.html" %}
 {% block title %}Edit League{% endblock %}
 {% block content %}
 	<div class="page-header">
  		<h1>Edit League<small> Change Fields</small></h1>
	</div>
	 <form action="{{url_for('leagues_edit', league_id=league_id)}}" method="post" role="form">
		 <div class="form-group">
		 	<div class="row">
			  	<label class="control-label col-sm-2" for="name">Name:</label>
			  	<div class="col-sm-6">
					<input type="text" name="name"  value="{{name}}" class="form-control" required autofocus />
				</div>
			</div>
		</div> <!-- End of form-group -->
		<div class="form-group">
		 	<div class="row">
			  	<label class="control-label col-sm-2" for="abbreviation">Abbreviation:</label>
			  	<div class="col-sm-6">
					<input type="text" name="abbreviation" value="{{abbreviation}}" class="form-control"  />
				</div>
			</div>
		</div> <!-- End of form-group -->
		<div class="form-group">
			<div class="row">
				<label class="control-label col-sm-2" for="country_id">Country:</label>
			  	<div class="col-sm-6">
					<select name="country_id" class="form-control"">
						{% for key, country in countries %}
					        <option value="{{key}}">{{ country.abbreviation }}</option>
						{% endfor %}
				    </select>
				</div>
			</div>
		</div><!-- End of form-group -->
		<div class="form-group col-sm-8">
		    <div class="pull-right">
		      	<button name="Add" type="submit" class="btn btn-default">Submit</button>
		    </div>
		 </div> <!-- End of form-group -->
	  </form>
 {% endblock %}

