 {% extends "layout.html" %}
 {% block title %}Update Official{% endblock %}
 {% block content %}
	 <form action="{{ url_for('officials') }}" method="post" role="form">
		 <div class="form-group">
		 	<div class="row">
			  	<label class="control-label col-sm-2" for="name">Name</label>
				<label class="control-label col-sm-2" for="name">Age</label>
			  	<div class="col-sm-10">
			  		<input type="hidden" name="id" value="{{id}}"/>
					<input type="text" name="name" required autofocus />
					<input type="text" name="age" required autofocus />	
			 		<input value="Update" name="submit" type="submit" /><br><br>
				</div>
			</div>
			</div> <!-- End of form-group -->
	  </form>
 {% endblock %}
