{% extends "layout.html" %}
{% block title %}Search Players{% endblock %}
{% block content %}

<h1>Search Results </h1>

<table class="table table-bordered table-striped">
<tr>
<th> PLAYER ID </th> <th> NAME </th> <th> BIRTHDAY </th> <th> POSITION </th> <th>DELETE/UPDATE</th>
</tr>
{% for player_id, name, birthday, position in players %}
<tr>
<td> {{player_id}}</td>
<td> {{ name }} </td>
<td> {{ birthday }} </td>
<td> {{ position }} </td>
<td> <a href="update/{{ player_id }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> UPDATE </a>
	 <a href="delete/{{ player_id }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> DELETE </a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}