{% extends "layout.html" %}
{% block title %}Players{% endblock %}
{% block content %}

<form action = {{url_for('search_players') }} method="post">
<input type = "text" name = "nametosearch">
<input type = "submit" name = "searchbyname">
</form>


<form action = {{url_for('delete_players') }} method="post">
<table class="table table-bordered table-striped">
<tr>
<th></th> <th> PLAYER ID </th> <th> NAME </th> <th> BIRTHDAY </th> <th> POSITION </th> <th></th>
</tr>
{% for player_id, name, birthday, position in result %}
<tr>
<td><input type="checkbox" name="checkbox" value="{{ player_id }}" /></td>
<td> {{player_id}}</td>
<td> {{ name }} </td>
<td> {{ birthday }} </td>
<td> {{ position }} </td>
<td> <a href="players/update/{{ player_id }}" class="btn btn-info" role="button"> UPDATE </a> </td>
</tr>
{% endfor %}
</table>
<input type="submit" value="DELETE" name ="delete">
</form>
{% endblock %}
