{% extends "layout.html" %}
{% block title %}Team{% endblock %}
{% block content %}

<form class="form-horizontal" role="form" action ={{url_for('players')}} method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Player Name:</label>
    <div class="col-sm-6">
  		<input type = "text" class="form-control" name="name" placeholder="Enter player name">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="bithday">Birthday:</label>
    <div class="col-sm-6">
  		<input type="date" class="form-control" name="birthday">
  	</div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="position">Position:</label>
    <div class="col-sm-6">
  		<input type="text" class="form-control" name="position" placeholder="Enter position">
  	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
  	<button type="submit" class="btn btn-default">Add Player</button>
  	</div>
  </div>
</form>

{% endblock %}