{% extends "layout.html" %}
{% block title %}Stadiums{% endblock %}
{% block content %}
<div class="page-header">
  		<h1>Stadiums<small> List of all stadiums</small></h1>
</div>
<table class="table table-bordered table-striped">
		<tr>
			<th>Name</th>
			<th>Capacity</th>
			<th>Country</th>
			<th>Team</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	{% for stadium_id, name, capacity, country, team in stadiums %}
		<tr>
			<td> {{ name }} </td>
			<td> {{ capacity }}</td>
			<td> {{ country }}</td>
			<td> {{ team }} </td>
			<td class="col-sm-1">
				<form action="{{ url_for('stadiums') }}" method="post" role="form">
					<input value="{{stadium_id}}" name="stadium_id" type="hidden" />
					<input value="Delete" name="Delete" type="submit" />
				</form>
			</td>
		</tr>
	{% endfor %}
</table>
<form action="{{ url_for('stadiums') }}" method="post" class="form-inline pull-right">
	<div class="form-group">
	    <input type="text" name="search_terms" class="form-control" placeholder="Enter search terms">
	</div>
	<input value="Search" name="Search" type="submit" />
</form>
{% endblock %}