 {% extends "layout.html" %}
 {% block title %}Player Statistics{% endblock %}
 {% block content %}
	 <form action="{{ url_for('search_statistic_player') }}" method="post" role="form">
		 <div class="form-group">
		 	<div class="row">
			  	<label class="control-label col-sm-2" for="name">Player ID</label>
			  	<div class="col-sm-10">
					<input type="text" name="id" />
			 		<input value="Search" name="submit" type="submit" /><br><br>
				</div>
			</div>
			</div> <!-- End of form-group -->
	  </form>
	  <h3>Search Results</h3>

		<table class="table table-bordered table-striped">
		<tr>
		    <th>Season</th>
		    <th>Player</th>
		    <th>Tackles </th>
		    <th>Penalties</th>
		 </tr>
		{% for key, season, player, tackles, penalties in statisticsp %}
		<tr>
			<td> {{ season }} </td>
			<td> {{ player }} </td>
			<td> {{ tackles }} </td>
			<td> {{ penalties }} </td>
		</tr>
	{% endfor %}
	</table>

 {% endblock %}
