{% extends "layout.html" %}
{% block title %}Team Statistics{% endblock %}
{% block content %}

<h3>Team Statistics</h3>

<form action="{{ url_for('add_statistic_team') }}" method="get" role="form">
	<div class="form-group col-sm-14">
		<div class="pull-right">
			<input value="Edit Team Statistics" name="submit" type="submit" />
		</div>
	</div>
</form>

<form action="{{ url_for('search_statistic_team') }}" method="get" role="form">
	<div class="form-group col-sm-14">
		<div class="pull-left">
			<input value="Search Team" name="submit" type="submit" />
		</div>
	</div>
</form>

<br>
<br>
<table class="table table-bordered table-striped">
		<tr>
		    <th>Season</th>
		    <th>Team </th>
		    <th>Touchdowns </th>
		    <th>Receiving Yards</th>
		 </tr>
		{% for key, season, team, touchdowns, rushingYards in statisticst %}
		<tr>
			<td> {{ season }} </td>
			<td> {{ team }} </td>
			<td> {{ touchdowns }} </td>
			<td> {{ rushingYards }} </td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}