{% extends "layout.html" %}
{% block title %}Coaches{% endblock %}
{% block content %}


<h1>Stats Page</h1>
<small>Add a stat for a player<br><br></small>


<form  action ={{url_for('add_stat')}} method="post">
  Season:<br>
  <input type="text" name="season"><br><br>
  Player Name:<br>
  <input type="text" name="playerName"><br><br>
  Receptions:<br>
  <input type="text" name="receptions"><br><br>
  Receiving Yards:<br>
  <input type="text" name="receivingyards"><br><br>
  <input type="submit" value="Add" name="Add">
</form>
<br>
<table border = "1">
<tr>
    <th>Season</th>
    <th>Player Name </th>
    <th>Receptions </th>
    <th>Receiving Yards</th>
 </tr>
{% for season, playerName, receptions, receivingyards in result %}
<tr>
	<td> {{ season }} </td>
	<td> {{ playerName }} </td>
	<td> {{ receptions }} </td>
	<td> {{ receivingyards }} </td>
</tr>
{% endfor %}
</table>

{% endblock %}