 {% extends "layout.html" %}
 {% block title %}Player Statistics{% endblock %}
 {% block content %}

<form action="{{ url_for('add_statistic_player') }}" method="get" role="form">
	<div class="form-group col-sm-14">
		<div class="pull-left">
			<input value="Back to Edit Statistics" name="submit" type="submit" />
		</div>
	</div>
</form>

<br><br>

<h2>Update</h2>

<br>
<br>

<form  action ={{url_for('update_statistic_player')}} method="post" type="form">
	<table class="table table-bordered table-striped">
		<tr>
		    <th></th>
		    <th>Season</th>
		    <th>Player</th>
		    <th>Tackles </th>
		    <th>Penalties</th>
		 </tr>
		{% for statistic_id, season, player, tackles, penalties in result %}
		<tr>
			<td><input type="checkbox" name="statistic_id" value="{{ statistic_id }}" /></td>
			<td> {{ season }} </td>
			<td> {{ player }} </td>
			<td> {{ tackles }} </td>
			<td> {{ penalties }} </td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>
				<select name="season_id" class="form-control"">
					{% for season_id, year in season %}
						<option value="{{season_id}}">{{ year }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<select name="player_id" class="form-control"">
					{% for player_id, name, birthday, position in player %}
						<option value="{{player_id}}">{{ name }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<input type="number" name="tackles" class="form-control" required autofocus>
			</td>
			<td>
				<input type="number" name="penalties" class="form-control" required autofocus>
			</td>
		</tr>
	</table>
	<form action="{{ url_for('update_statistic_player') }}" method="get" role="form">
			<div class="form-group col-sm-14">
				<div class="pull-left">
					<input value="Update" name="submit" type="submit" />
				</div>
			</div>
	</form>
</form>


{% endblock %}