{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}

<form action="{{ url_for('add_statistic') }}" method="get" role="form">
	<div class="form-group col-sm-14">
		<div class="pull-right">
			<input value="Edit Statistics" name="submit" type="submit" />
		</div>
	</div>
</form>
<br>
<br>
<table class="table table-bordered table-striped">
		<tr>
		    <th>Season</th>
		    <th>Team </th>
		    <th>Touchdowns </th>
		    <th>Receiving Yards</th>
		 </tr>
		{% for statistic_id, season, team, touchdowns, rushingYards in result %}
		<tr>
			<td> {{ season }} </td>
			<td> {{ team }} </td>
			<td> {{ touchdowns }} </td>
			<td> {{ rushingYards }} </td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}