{% extends "layout.html" %}
{% block title %}Search Teams{% endblock %}
{% block content %}

<h1>Search Results </h1>

<table class="table table-bordered table-striped">
<tr>
<th> TEAM ID </th> <th> NAME </th> <th> LEAGUE ID </th> <th>UPDATE/DELETE</th>
</tr>
{% for team_id, name, league_id in teams %}
<tr>
<td> {{ team_id }}</td>
<td> {{ name }}</td>
<td> {{ league_id }} </td>
<td> <a href="update/{{ team_id }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> UPDATE </a>
	 <a href="delete/{{ team_id }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-remove"></span> DELETE </a>
</td>
</tr>
{% endfor %}
<br>
<tr>
</tr>
</table>
{% endblock %}