{% extends "layout.html" %}
{% block title %}Team{% endblock %}
{% block content %}
{% for team_id, name, league_id in team %}
<form action = "" method="post">
<table>
<tr>
<td>Team name:<br></td>
<td><input type="text" name="name" value="{{ name }}" required autofocus/> </td>
</tr>
<tr>
<td>League Id:<br></td>
<td><input type="text" name="league_id" value="{{ league_id }}" required autofocus /> </td>
{% endfor %}
</table>
<input value="Update" name="update" type="submit" />
</form>
{% endblock %}
